body {
    font-family: 'Roboto', sans-serif ;
    color: #434455;
    background-color: #fff;
}

h1, h2, h3, h4, p {
    margin: 0;
}

li, ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}
img {
    display: block;
}
.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.page-header {
    border-bottom: 1px solid #e7e9fc;
    display: flex;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);;
}
.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
}

.header-logo-span {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
    text-decoration: none;
}

.header-logo {
    margin-right: 76px;
    
}
.nav-item {
    display: flex;
    gap: 40px;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
    cursor: pointer;
    padding: 24px 0;
    display: block;
}

.nav-link:hover {
    color: #404bbf;
}

.nav-link:focus {
    color: #404bbf;
}

.nav-link.current {
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf; 
}
.contakt {
    font-style: normal;
    margin-left: auto;
}

.contakt-item {
    display: flex;
    gap: 40px;
}

.contakt-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contakt-link:hover {
    color: #404bbf;
}

.contakt-lin:focus {
    color: #404bbf;
}

.onesection {
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/people-office.jpg);
    background-size: cover;
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
}
.onesection-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    box-sizing: border-box;
    color: #fff;
    max-width: 496px;
    margin: 0 auto;
    }

.button {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    
}
.onesection-button {
    border-radius: 4px;
    color: #fff;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    background: #4d5ae5;
    margin-right: 496px;
    margin-left: 496px;
    display: block;
    border: none;
    cursor: pointer;
    margin-top: 48px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.onesection-button:hover {
    background-color: #404bbf;
 }
.onesection-button:focus {
    background-color: #404bbf;
}
.twosection {
    background-color: #FFFFFF;
    padding: 120px 0 120px 0;
    }
    
.twosection-ull {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.twosection-lii {
    background-color: #FFFFFF;
    width: 264px;
    width: calc((100% - 72px) / 4);
}
.twosection-div {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}

.twosection-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.threesection {
    background-color: #F4F4FD;
    height: 732px;
    padding: 120px 0 120px 0;
}

.section-lii {
    background-color: #F4F4FD;
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px 0px;
    width: 264px;
    height: 428px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
    width: calc((100% - 72px) / 4);
}
.threesection-div {
    padding: 32px 0;
}

.threesection-title {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.threesection-ull {
    display: flex;
    gap: 24px;
    justify-content: space-between;
}
.threesection-title-scr {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.threesection-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    padding-bottom: 8px;
}
.icons-svg {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.icons-svg-li {
    height: 40px;
    width: 40px;
    
}
.foursection {
    padding: 120px 0 120px 0;
}
.foursection-div {
    width: 1128px;
    height: 1000px;
}
.foursection-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px; 
}

.foursection-ull {
   display: flex; 
   row-gap: 48px;
   column-gap: 24px;
   flex-wrap: wrap;
}
.foursection-lii {
    width: 360px;
    height: 420px;
    width: calc((100% - 48px) / 3);
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);   
}
.foursection-lii:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}
.div-img {
    position: relative;
    overflow: hidden;
    
}
.lii-overlay {
    background-color: #4d5ae5;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    position: absolute;
    padding: 40px 32px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.div-img:hover .lii-overlay {
    transform: translateY(0);
}
.foursection-img {
    max-width: 100%;
    display: block;
}
.foursection-lii-div {
    padding: 32px 16px;
    border: 1px solid #e7e9fc; 
    border-top: none;
}

.section-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
}

.section-title-scr {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: left;
    margin-bottom: 8px;
}

.foter {
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}
.foter-container {
    display: flex;
    align-items: baseline;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
}

.div-logo {
    display: inline-block;
    margin-bottom: 16px;
}

.foter-logo-span{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
    text-decoration: none;
}

.div-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}

.foter-logo {
    margin-right: 120px;
}
.foter-div {
    width: 208px;
    height: 80px;
}

.foter-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff; 
    margin-bottom: 16px;
}
.foter-icon-li {
    height: 40px;
    width: 40px;
    
}
.foter-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.traling-icon {
    fill: #f4f4fd;
}

.social-icon {
   fill:#f4f4fd;
}

.social-svg { 
   border: #4d5ae5;
   background-color: #4D5AE5;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   height: 100%;
   width: 100%;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-svg:hover {
    background-color: #404bbf;
}
.social-svg:focus {
    background-color: #404bbf;
}
.social-svg-li {
    border: #4d5ae5;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 100%;
    width: 100%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-svg-li:hover {
    background-color: #31d0aa;
}
.social-svg-li:focus {
    background-color: #31d0aa;
}
.foter-div-email {
    width: 453px;
    height: 80px;
    margin-left: 80px;
}
.foter-input {
    border: 1px solid #ffffff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    background-color: transparent;
    font-size: 12px;
    letter-spacing: 0.04em;
    line-height: 2;
    padding-left: 16px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    color: #ffffff;
}

.foter-button {
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    background-color: #4d5ae5;
    font-weight: 500;
    letter-spacing: 0.04em;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    border: none;
    cursor: pointer;
    color: #fff;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.foter-button:hover {
    background-color: #404bbf;
}
.foter-button:focus {
    background-color: #404bbf;
}
.foter-email {
    display: flex;
    align-items: center;
    gap: 24px;
}
.foter-input-svg {
    fill: #fff;
    margin-left: 16px;
}
.foter-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
}
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 4px;
    width: 408px;
    min-height: 584px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
    
}
.modal-but {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color:#e7e9fc;
    position: absolute;
    top: 24px;
    right: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-but:hover {
    background-color: #404bbf;
    fill: #fff;
    border: none;
}
.modal-but:focus {
    background-color: #404bbf;
    fill: #fff;
    border: none;
}
.modal-but-svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}
.modal-div {
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 336px;
}

.modal-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    margin-top: 4px;
    padding-left: 38px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-div-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.user-div {
    width: 360px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 8px;
}
.user-div-svg {
    position: relative;
}
.user-div:hover .modal-input,
.user-div:hover .modal-div-icon {
    border-color: #4d5ae5;
    fill: #4d5ae5;
}
.modal-input:focus {
    border-color: #4d5ae5;
    fill: #4d5ae5;
}
.modal-input:focus + .modal-div-icon,
.modal-input:focus-visible + .modal-div-icon {
    fill: #4d5ae5;
}

.div-textarea {
    border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        width: 360px;
        height: 120px;
        background-color: transparent;
        padding: 8px 16px;
        outline: transparent;
        resize: none;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: rgba(46, 47, 66, 0.4);
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.div-textarea:focus{
    border-color: #4D5AE5;
}
.user-div-text {
    margin-bottom: 16px;
}
.user-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.div-textarea::placeholder {
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    
}
.div-checkbox {
   margin-bottom: 24px;
}
.checkbox-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    position: relative;
    
}
.checkbox-label-span {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked+.checkbox-label .checkbox-label-span {
    background-color: #404BBF;
    border: none;
    fill: #F4F4FD;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

.checkbox-label-skr {
    line-height: 1.3;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

.checkbox-button {
    border-radius: 4px;
    color: #fff;
    padding: 16px 32px;
    min-width: 169px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    height: 56px;
    background: #4d5ae5;
    display: block;
    border: none;
    cursor: pointer;
    margin-left: 95px;
    margin-right: 95px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-button:hover {
    background-color: #404bbf;
}

.checkbox-button:focus {
    background-color: #404bbf;
}

